<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form method="post" action="/test">
  	<h1>888888888</h1>
  </form>
  <div><%=message%></div>
  </body>
</html>

